section.seo-experts{
  #for-students{
    overflow: hidden;
    .col-md-8{
      h2{
        z-index: 9;
      }
      .col-sm-6{
        z-index: 9;
      }
      #tablet{
        position: absolute;
        top: 0;
        z-index: 0;
      }
    }
  }
}
