.qa{
	@extend .container;
	.ask{
		@extend .col-xs-12, .text-center;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
#qa-list{
	
	@extend .col-xs-10, .col-xs-offset-1;
	.question{
		@extend .row;
		border: 1px solid #eee;
		border-radius: 2px;
		margin-bottom: 15px;
		.stat{
			@extend .col-xs-2;
			/*
			text-align: center;
			font-size: 13px;
			border-right: 1px solid #eee;
			color: #777;
			display: flex;
			flex-direction: column;
			padding: 10px;
			*/
		}
	}
}

#question-tabs{
	border-bottom: 1px solid #ddd;
	width: auto;
	margin-left: -15px;
	margin-right: -15px;
	li{
		width: auto;
		bottom: -1px;
		a:hover{
			border: 1px solid #ddd;
		}
	 	.fa{
			display: none;
			}
	}
}