{% load date_string %}
{% for question in pane %}
<div class="question">
  <div class="stat">
    <div class="ques">{{ question.answers }}</div>
    <i class="fa fa-reply"></i>
    <small>Answers</small>
  </div>
  <div class="stat">
    <div class="ques">{{ question.views }}</div>
    <i class="fa fa-eye"></i>
    <small>Views</small>
  </div>
  <div class="summary">
    <h3><a href="{% url 'balystic_qa_detail' question.pk %}">{{ question.title }}</a></h3>
    <i class="fa fa-comment-o" aria-hidden="true"></i> {{ question.comments }} {% if question.comments == 1 %}comment{% else %}comments{% endif %}
    {% comment %}
    {% for tag in question.tags %}
        <a href="#"><tag>{{ tag }}</tag></a>
    {% endfor %}
    {% endcomment %}
    <small class="pull-right"><a class="blue-link" href="{% url 'users:detail' question.user.username %}">{{ question.user.username }}</a> on {{ question.pub_date|date_string }}</small>
  </div>
</div>
{% endfor %}