{% extends "balystic/base.html" %}
{% load i18n staticfiles date_string %}
{% block title %}Blog{% endblock title %}

{% block meta %}
{% trans "" as title %}
{% trans "" as description %}
{% static "images/facebook-image-post.jpg" as image%}
{% include "include/metatags.html" with title=title description=description image=image %}
{% endblock meta %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{% trans "Blog" %}</h1>
      </div>
    </div>
    {% for entry in blog_entries %}
      <div class="row p-20">
        <div class="col-md-4">
          <a href="{% url 'balystic_blog_detail' entry.slug %}">
            <img class="img-responsive" src="{% if entry.image %}{{ entry.image }}{% else %}{% static "images/default_small.jpg" %}{% endif %}" alt="Blog image {{ entry.title }}">
          </a>
        </div>
        <div class="col-md-8">
          <div class="col-md-12">
            <a href="{% url 'balystic_blog_detail' entry.slug %}" class="title-blog">
              <h3>{{ entry.title }}</h3>
            </a>
            <small class="m-t-10" id="link-block">
              <i class="fa fa-user"></i>
              <a href="" id="link-author">&nbsp;{{ entry.user.username|title }}</a>&nbsp;
              <i class="fa fa-calendar"></i>&nbsp;{{ entry.publication_date|date_string }}
            </small>
            <p class="m-t-10">{{ entry.excerpt }}
              <a href="{% url 'balystic_blog_detail' entry.slug %}">{% trans "Read more..." %}</a>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
