{% extends "base.html" %}
{% block title %}Logout{% endblock title %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container p-t-50 p-b-70">
  <div class="row text-center">
    <h1>{% trans "Sign Out" %}</h1>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'balystic_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
    </form>
  </div>
</div>


{% endblock content %}

