{% extends "balystic/qa/base.html" %}
{% load django_markdown %}
{% block title %}Ask a question {% endblock title %}
{% block qa %}
<section class="new-question">
	<h3 class="text-center">Ask a question.</h3>
	  <div class="question-box">
	    <form method="post" action="">
	    	<div class="form-group {% if form.title.errors %}has-error{% else %}{% if form.is_bound %}has-success{% endif %}{% endif %}">
	    	  <label for="question">Your question (required)</label><span class="pull-right"><span id="id_title-span">{% if form.title.value != None %}{{ form.title.value|length }}{% else %}0{% endif %}</span>/125</span>
	    	  <input id="id_title"
	    	          name="title"
	    	          type="text"
	    	          value="{% if form.title.value != None %}{{ form.title.value }}{% endif %}"
	    	          maxlength="125"
	    	          class="form-control"
	    	          oninput="showLength('id_title')"
	    	          placeholder="Be as clear and concise as you can">
	    	  {% for error in form.title.errors %}
	    	      <span class="help-block">
	    	        {{ error|escape }}
	    	      </span>
	    	  {% endfor %}
	    	</div>
	    	<div class="form-group {% if form.description.errors %}has-error{% else %}{% if form.is_bound %}has-success{% endif %}{% endif %}">
	    	  <label for="description">Question details</label><span class="pull-right"><span id="id_description-span">{% if form.description.value != None %}{{ form.description.value|length }}{% else %}0{% endif %}</span>/500</span>
	    	  <textarea id="id_description" maxlength="500"
	    	            name="description"
	    	            class="form-control"
	    	            oninput='showLength("id_description")'
	    	            rows="4"
	    	            placeholder="Be as specific as you need to">{% if form.description.value != None %}{{ form.description.value }}{% endif %}</textarea>
	    	  {% for error in form.description.errors %}
	    	      <span class="help-block">
	    	        {{ error|escape }}
	    	      </span>
	    	  {% endfor %}
	    	</div>
	    	<div class="form-group {% if form.tags.errors %}has-error{% else %}{% if form.is_bound %}has-success{% endif %}{% endif %}">
	    	  <label for="tags">Tags</label>
	    	  {{ form.tags }}
	    	</div>
	      {% csrf_token %}
	      <button class="btn btn-seoq" type="submit">Submit question</button>
	    </form>
	  </div>
</section>
{{ form.media }}
<script>
document.getElementById("id_title").className = 'form-control';
document.getElementById("id_description").className = 'form-control';

</script>
{% endblock qa %}
{% block extra_javascript %}
{% markdown_editor "#new" %}
{% markdown_media %}
<script>
  $('#id_tags').tagsinput();
  document.getElementById("id_tags").className = 'form-control';
</script>
{% endblock extra_javascript %}

