{% extends "balystic/qa/base.html" %}
{% block title %}{{ question.title }}{% endblock title %}
{% load staticfiles date_string django_markdown %}
{% load markdown_deux_tags %}
{% block qa %}

<div class="row">
  <article class="question-wrapper">
    <h3>SEOQ Q&A</h3>
    <section class="question-detail">
      <!-- begin info -->
      <div class="info">
        <div class="title">
          <h2>{{ question.title }}</h2>
        </div>
        <div class="user">
          <div class="image">
            <img class="img-circle" width="50px" height="50px" src="{% if question.user.avatar %}{{ question.user.avatar }}{% else %}{% static 'images/profile-default-thumbnail.jpg' %}{% endif %}"> 
          </div>
          <div class="user-info">
              <a class="blue-link" href="{% url 'users:detail' question.user.username %}">{{ question.user.username }}</a> on {{ question.pub_date|date_string }} {% if question.user.location %}&nbsp;&nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i> {{ question.user.location }}{% endif %}
          </div>
        </div>
        <div class="question-text">
          {{ question.description|markdown }}
        </div>
        <div class="tags">
            <i class="fa fa-tag fa-flip-horizontal" aria-hidden="true"></i>
            {% for tag in question.tags %}
                <a href="#">{{ tag }}</a>
            {% endfor %}
        </div>
      </div>
      <!-- begin arrow-box -->
      <div class="options arrow-box">
        {% if question.closed %}
          <div class="alert alert-danger">This Question has been closed.</div>
        {% elif request.user.is_authenticated and question.user.username = request.user.username %}
          <a class="action pull-right text-muted" 
              href="{% url 'balystic_qa_edit_question' question.pk %}" 
              role="button">
            <i class="fa fa-pencil"></i><span class="hidden-xs">Edit question</span></a>
          <form action="{% url 'balystic_qa_delete_question' question.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="action pull-right btn-delete text-danger"><i class="fa fa-trash"></i><span class="hidden-xs">Delete question</span></button>
          </form>
          <br>
          <br>
        {% endif %}
          {% if  not question.closed %}
          <div class="image">
              <img class="img-circle" width="50px" height="50px" src="{% if request.user.profile_picture %}{{ request.user.profile_picture.url }}{% else %}{% static 'images/profile-default-thumbnail.jpg' %}{% endif %}"> 
          </div>
            {% if user.is_authenticated %}
              <form method="post" class="form-post" action="">
                {% csrf_token %}
                <textarea id="id_answer_text" name="answer_text" class="reply-input" placeholder="Your answer"></textarea>
                <button class="btn btn-primary post"
                      {% if user.is_authenticated %}
                      type="submit"
                      {% else %}
                      type="button" data-toggle="modal" data-target="#signup-modal"
                      {% endif %}>Post Reply</button>
              </form>
            {% else %}
              <button class="btn btn-primary post" type="button" data-toggle="modal" data-target="#signup-modal">Post Reply</button>
            {% endif %}
          {% endif %}
      </div>

      <!-- end arrow-box -->
    </section>
    <div class="comment-form">
      <a class="action pull-right text-muted" id="add-comment-button" role="button" {% if user.is_authenticated %}onclick="showSection('add-comment-form');hideSection('add-comment-button')"{% else %}type="button" data-toggle="modal" data-target="#signup-modal"{% endif %}>
        <i class="fa fa-comment"></i> Add a comment
      </a>

      <form class="form-post ng-pristine ng-valid" style="display:none" id="add-comment-form" method="post" action="{% url 'balystic_qa_comment' 'question' question.pk %}?next={{ request.path }}">
        {% csrf_token %}
        <textarea maxlength="250" class="reply-input" name="comment_text" placeholder="Your comment"></textarea>
        <button style="display: inline-block;" class="btn btn-primary m-t-10" type="submit">Add Comment</button>
      </form>
    </div>
    {% if question.questioncomment_set %}
    <!-- Comments -->
    <section class="comments-wrapper">
      <h3>Comments ({{ question.questioncomment_set |length }})</h3>
        {% for comment in question.questioncomment_set %}


          <div class="row" style="padding-right: 15px">
            <div class="q-comment">
              <span id="comment-text-{{ comment.pk }}">{{ comment.comment_text }} </span>–&nbsp;
              <span class="text-muted"><a class="blue-link" href="{% url 'users:detail' comment.user.username %}">{{ comment.user.username }}</a> on {{ comment.pub_date|date_string }}</span>
              {% if comment.user.username == request.user.username %}
                <a class="action pull-right text-muted" id="add-comment-button" role="button" onclick="showSection('edit-comment-form-{{ comment.pk }}');hideSection('comment-text-{{ comment.pk }}')">
                <i class="fa fa-pencil" data-toggle="tooltip" data-placement="bottom" title="Edit comment"></i></a>
                <form action="{% url 'balystic_qa_delete_comment' 'question' comment.pk %}?next={{ request.path }}" method="post" class="pull-right">
                  {% csrf_token %}
                  <button type="submit" class="action pull-right btn-delete text-danger"><i class="fa fa-trash" title="Delete comment"></i></button>
                </form>
              {% endif %}
              <form style="display:none" id="edit-comment-form-{{ comment.pk }}" class="form-post ng-pristine ng-valid" method="post" action="{% url 'balystic_qa_edit_comment' 'question' comment.pk %}?next={{ request.path }}">
                {% csrf_token %}
                  <textarea maxlength="250" class="reply-input" name="comment_text">{{ comment.comment_text }}</textarea>
                  <button style="display: inline-block;" class="btn btn-primary m-t-10" type="submit">Update Comment</button>
              </form>
            </div>
          </div>
        {% endfor %}
    </section>
    <!-- end comments -->
    {% endif %}
    <!-- Answers -->
    <section class="answers">
      <h3>Answers ({{ question.answer_set|length }})</h3>
      {% if question.closed %}
        {% for answer in question.answer_set %}
          {% if answer.answer %}
            {% include "balystic/qa/answer.html" %}
          {% endif %}
        {% endfor %}
      {% endif %}
      
      {% for answer in question.answer_set %}
        {% if not answer.answer %}
          {% include "balystic/qa/answer.html" %}
        {% endif %}
      {% empty %}
        <hr>
        <p class="text-center m-t-20">There are no answers yet.</p>
      {% endfor %}

    </section>
    <!-- end answers -->
  </article>
</div>
{% endblock qa %}
