{% extends "base.html" %}
{% load i18n staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Delete Billing{% endblock title %}

{% block content %}
  <section class="update-billing">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 p-t-20 p-b-70 text-center fullscreen">
          <h1>Billing data</h1>
          <form method="post" action="{% url 'billing_info_delete' %}">
            {% csrf_token %}
            <p>{% trans "Are you sure to delete billing info?" %}</p>
            <button type="submit" class="btn btn-danger">
              <span class="glyphicon glyphicon-trash"></span> Confirm delete
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
