{% extends "base.html" %}
{% load i18n staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Upgrade Billing{% endblock title %}

{% block content %}
  <section class="update-billing">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 p-t-20 p-b-70">
          <form action="{{ request.get_full_path }}" method="post" class="form">
            <h2>{% trans "Provide billing data" %}</h2>
              {% csrf_token %}
              {{ form|crispy }}
              <a class="btn btn-danger-ligth" href="{% url 'billing_info_delete' %}">Delete</a>
              <button type="submit" class="btn btn-primary-ligth">Save</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
