{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}SEO Professional: {{ user.user.first_name }}{% endblock %}

{% block content %}
<div class="container p-t-50">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <label class="control-label">Share this profile on:</label>

      <ul class="list-inline">
        <li>
          <a data-socialmedia="Facebook" href="http://www.facebook.com/sharer.php?s=100&p[title]=SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }}&p[url]=http://www.seoq.com/&p[images][0]=http://omega.seoq.com/media/profiles/email_campaign.jpg&p[summary]=Check out the SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }} on SEOQ.com" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-3 blue-face"></i></a>
        </li>
        <li>
          <a data-socialmedia="Twitter" href="https://twitter.com/share?text=Check out the SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }} on SEOQ.com&amp;via=SEOQuotient&amp;lang=en" title="Share on Twitter" target="_blank"><i class="fa fa-twitter-square fa-3 blue-twitter"></i></a>
        </li>
        <li>
          <a data-socialmedia="Linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri }}/&amp;title=SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }}&amp;summary=Check out the SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }} on SEOQ.com" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-3 blue-linkedin"></i></a>
        </li>
        <li>
          <a data-socialmedia="GooglePlus" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}/&amp;hl=en" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-3 red-gplus"></i></a>
        </li>

      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              {% if user.user.avatar %}
              <img src="{{ user.user.avatar }}" alt="" width="200" height="200" class="hidden-xs img-thumbnail media-object pull-left">
              {% else %}
              <img src="{% static 'images/profile-default-thumbnail.jpg' %}" alt="" width="200" height="200" class="hidden-xs img-thumbnail media-object pull-left">
              {% endif %}
            </div>
            <div class="media-body">
              <div class="col-sm-12">
                <h2>
                {% if user.user.first_name and user.user.last_name %}
                  {{ user.user.first_name }} {{ user.user.last_name }}
                {% else %}
                  {{ user.user.username }}
                {% endif %}
                </h2>
                <small>{{ request.build_absolute_uri }}</small>
                <div class="col-md-12 border-bottom-line">
                  <div class="row"></div>
                </div>
              </div>
              <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-left m-b-30">
                {% if user.user.avatar %}
                <img src="{{ user.user.avatar }}" alt="" width="150" height="150" class="img-thumbnail">
                {% else %}
                <img src="{% static 'images/profile-default-thumbnail.jpg' %}" alt="" width="150" height="150" class="img-thumbnail">
                {% endif %}
              </div>
              <div class="col-md-12">
              {% if user.user.email %}
                <p><strong>Email:</strong> {{ user.user.email }}</p>
              {% endif %}
              {% if user.user.phone_number or user.user.generics.phone %}
                <p><strong>Phone:</strong>
                {% if user.user.phone_number %}
                  {{ user.user.phone_number }}
                {% else %}
                  {{user.user.generics.phone}}
                {% endif %}</p>
              {% endif %}
                <p><strong>SEO Professional:</strong>
                  {% if  user.user.isPro %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </p>
                {% if user.user.generics.location %}
                  <p><strong>Location:</strong> {{ user.user.generics.location }}</p>
                {% endif %}
                <p>
                  {% if user.user.bio %}
                    {{ user.user.bio|safe }}
                  {% else %}
                    {% if user.user.generics.about %}
                      {{ user.user.generics.about|safe }}
                    {% endif %}
                  {% endif %}
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-4">
            <h3>{% trans "Digital Properties" %}</h3>
            <ul>
          {% if  user.user.generics.website_url  or  user.user.facebook or user.user.twitter or user.user.linkedin or user.user.generics.google_url%}
              {% if user.user.generics.website_url %}
              <li>
                <i class="fa fa-globe fa-lg fa-fw"></i> <a href="{{ user.user.generics.website_url }}" target="_blank">
                  Website</a>
              </li>
              {% endif %}
              {% if user.user.facebook %}
              <li>
                <i class="fa fa-facebook-square fa-lg fa-fw"></i> <a href="{{ user.user.facebook }}" target="_blank">
                  Facebook</a>
              </li>
              {% endif %}
              {% if user.user.twitter %}
              <li>
                <i class="fa fa-twitter-square fa-lg fa-fw"></i> <a href="{{ user.user.twitter }}" target="_blank">
                  Twitter</a>
              </li>
              {% endif %}
              {% if user.user.linkedin %}
              <li>
                <i class="fa fa-linkedin-square fa-lg fa-fw"></i> <a href="{{ user.user.linkedin }}" target="_blank">
                  Linkedin</a>
              </li>
              {% endif %}
              {% if user.user.generics.google_url  %}
              <li>
                  <i class="fa fa-google-plus-square fa-lg fa-fw"></i> <a href="{{ user.user.generics.google_url }}" target="_blank">
                  Google+</a>
              </li>
              {% endif %}
            </ul>
          {% else %}
            <li>
              <i class="fa fa-exclamation-circle fa-lg fa-fw"></i>
              {% trans "Not filled yet" %}
            </li>
          {% endif %}
          </div>

          <div class="col-md-4">
            <h3>{% trans "Areas of Expertise" %}</h3>
            <ul>
              {% for area in user.user.generics.areas_of_expertise %}
                <li>
                  <i class="fa fa-check fa-fw fa-lg"></i>{{ area }} <a href="#"></a>
                </li>
              {% empty %}
                <li>
                  <i class="fa fa-exclamation-circle fa-lg fa-fw"></i>
                  {% trans "Not filled yet" %}
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-md-4">
            <h3>{% trans "Languages" %}</h3>
            <ul>
              {% for language in user.user.generics.languages %}
                <li>
                  <i class="fa fa-globe fa-fw fa-lg"></i> {{ language }}<a href="#"></a>
                </li>
              {% empty %}
                <li>
                  <i class="fa fa-exclamation-circle fa-lg fa-fw"></i>
                  {% trans "Not filled yet" %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% comment %}
      <div class="col sm-12 col-md-3">
        <div class="panel panel-default clear">
          <div class="panel-body">
            <h2>Contact</h2>
            <form id="contact_seo_pro_form" action="#">
              <div class="form-group">
                <label class="sr-only" for="id_first_name">First name</label>
                <input class="form-control" id="id_first_name" maxlength="127" name="first_name" placeholder="First name" required="required" title="" type="text" aria-required="true">
              </div>
              <div class="form-group">
                <label class="sr-only" for="id_last_name">Last name</label>
                <input class="form-control" id="id_last_name" maxlength="127" name="last_name" placeholder="Last name" required="required" title="" type="text" aria-required="true">
              </div>
              <div class="form-group">
                <label class="sr-only" for="id_location">Location</label>
                <input class="form-control" id="id_location" maxlength="127" name="location" placeholder="Location" required="required" title="" type="text" aria-required="true" autocomplete="off">
              </div>
              <div class="form-group">
                <label class="sr-only" for="id_phone">Phone</label>
                <input class="form-control" id="id_phone" maxlength="32" name="phone" placeholder="Phone" required="required" title="" type="text" aria-required="true">
              </div>
              <div class="form-group">
                <label class="sr-only" for="id_email">Email</label>
                <input class="form-control" id="id_email" maxlength="127" name="email" placeholder="Email" required="required" title="" type="text" aria-required="true">
              </div>
              <button type="submit" class="btn btn-primary">Contact this person</button>
            </form>
          </div>
        </div>
      </div>
    {% endcomment %}

  </div>
</div>
{% endblock content %}

