{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}SEO Professional: {{ user.user.first_name }}{% endblock %}

{% block content %}
<div class="container p-t-50">
  <div class="row">
    <div class="col-sm-12">
      <label class="control-label">Share this profile on:</label>

      <ul class="list-inline">
        <li>
          <a data-socialmedia="Facebook" href="http://www.facebook.com/sharer.php?s=100&p[title]=SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }}&p[url]=http://www.seoq.com/&p[images][0]=http://omega.seoq.com/media/profiles/email_campaign.jpg&p[summary]=Check out the SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }} on SEOQ.com" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-3 blue-face"></i></a>
        </li>
        <li>
          <a data-socialmedia="Twitter" href="https://twitter.com/share?text=Check out the SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }} on SEOQ.com&amp;via=SEOQuotient&amp;lang=en" title="Share on Twitter" target="_blank"><i class="fa fa-twitter-square fa-3 blue-twitter"></i></a>
        </li>
        <li>
          <a data-socialmedia="Linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri }}/&amp;title=SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }}&amp;summary=Check out the SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }} on SEOQ.com" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-3 blue-linkedin"></i></a>
        </li>
        <li>
          <a data-socialmedia="GooglePlus" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}/&amp;hl=en" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-3 red-gplus"></i></a>
        </li>

      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              {% if user.user.avatar %}
              <img src="{{ user.user.avatar }}" alt="" width="200" height="200" class="hidden-xs img-thumbnail media-object pull-left">
              {% else %}
              <img src="{% static 'images/profile-default-thumbnail.jpg' %}" alt="" width="200" height="200" class="hidden-xs img-thumbnail media-object pull-left">
              {% endif %}
            </div>
            <div class="media-body">
              <div class="col-sm-12">
                <h2>{{ user.user.first_name }} {{ user.user.last_name }}</h2>
                <div class="col-md-12 border-bottom-line">
                  <div class="row"></div>
                </div>
              </div>
              <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-left m-b-30">
                {% if user.user.avatar %}
                <img src="{{ user.user.avatar }}" alt="" width="150" height="150" class="img-thumbnail">
                {% else %}
                <img src="{% static 'images/profile-default-thumbnail.jpg' %}" alt="" width="150" height="150" class="img-thumbnail">
                {% endif %}
              </div>
              <div class="col-md-12">
                <p><strong>Email:</strong> {{ user.user.email }}</p>
                <p><strong>Phone:</strong> {{ user.user.phone_number }}</p>
                <p><strong>SEO Professional:</strong>
                  {% if  user.user.isPro %}
                    Yes
                  {% endif %}
                </p>
                <p>
                  {% if user.user.bio %}
                    {{ user.user.bio }}
                  {% endif %}
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col sm-12 col-md-3">
      <div class="panel panel-default clear">
        <div class="panel-body">
          <h2>Contact</h2>
          <form id="contact_seo_pro_form" action="#">
            <div class="form-group">
              <label class="sr-only" for="id_first_name">First name</label>
              <input class="form-control" id="id_first_name" maxlength="127" name="first_name" placeholder="First name" required="required" title="" type="text" aria-required="true">
            </div>
            <div class="form-group">
              <label class="sr-only" for="id_last_name">Last name</label>
              <input class="form-control" id="id_last_name" maxlength="127" name="last_name" placeholder="Last name" required="required" title="" type="text" aria-required="true">
            </div>
            <div class="form-group">
              <label class="sr-only" for="id_location">Location</label>
              <input class="form-control" id="id_location" maxlength="127" name="location" placeholder="Location" required="required" title="" type="text" aria-required="true" autocomplete="off">
            </div>
            <div class="form-group">
              <label class="sr-only" for="id_phone">Phone</label>
              <input class="form-control" id="id_phone" maxlength="32" name="phone" placeholder="Phone" required="required" title="" type="text" aria-required="true">
            </div>
            <div class="form-group">
              <label class="sr-only" for="id_email">Email</label>
              <input class="form-control" id="id_email" maxlength="127" name="email" placeholder="Email" required="required" title="" type="text" aria-required="true">
            </div>
            <button type="submit" class="btn btn-primary">Contact this person</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{{ user.error }}
</div>
{% endblock content %}

