{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}SEO Professional: {{ user.user.first_name }}{% endblock %}

{% block content %}
<div class="container p-t-50">
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <label class="control-label">Share this profile on:</label>

      <ul class="list-inline">
        <li>
          <a data-socialmedia="Facebook" href="http://www.facebook.com/sharer.php?s=100&p[title]=SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }}&p[url]=http://www.seoq.com/&p[images][0]=http://omega.seoq.com/media/profiles/email_campaign.jpg&p[summary]=Check out the SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }} on SEOQ.com" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-3 blue-face"></i></a>
        </li>
        <li>
          <a data-socialmedia="Twitter" href="https://twitter.com/share?text=Check out the SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }} on SEOQ.com&amp;via=SEOQuotient&amp;lang=en" title="Share on Twitter" target="_blank"><i class="fa fa-twitter-square fa-3 blue-twitter"></i></a>
        </li>
        <li>
          <a data-socialmedia="Linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri }}/&amp;title=SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }}&amp;summary=Check out the SEO Professional Profile for {{ user.user.first_name }} {{ user.user.last_name }} on SEOQ.com" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-3 blue-linkedin"></i></a>
        </li>
        <li>
          <a data-socialmedia="GooglePlus" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}/&amp;hl=en" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-3 red-gplus"></i></a>
        </li>

      </ul>
            <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              {% if user.user.avatar %}
              <img src="{{ user.user.avatar }}" alt="" width="200" height="200" class="hidden-xs img-thumbnail media-object pull-left">
              {% else %}
              <img src="{% static 'images/profile-default-thumbnail.jpg' %}" alt="" width="200" height="200" class="hidden-xs img-thumbnail media-object pull-left">
              {% endif %}
            </div>
            <div class="media-body">
              <div class="col-sm-12">
                <h2>
                {% if user.user.first_name and user.user.last_name %}
                  {{ user.user.first_name }} {{ user.user.last_name }}
                {% else %}
                  {{ user.user.username }}
                {% endif %}
                </h2>
                <small>{{ request.build_absolute_uri }}</small>
                <div class="col-md-12 border-bottom-line">
                  <div class="row"></div>
                </div>
              </div>
              <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-left m-b-30">
                {% if user.user.avatar %}
                <img src="{{ user.user.avatar }}" alt="" width="150" height="150" class="img-thumbnail">
                {% else %}
                <img src="{% static 'images/profile-default-thumbnail.jpg' %}" alt="" width="150" height="150" class="img-thumbnail">
                {% endif %}
              </div>
              <div class="col-md-12">
              {% if user.user.email %}
                <p><strong>Email:</strong> {{ user.user.email }}</p>
              {% endif %}
              {% if user.user.phone_number or user.user.generics.phone %}
                <p><strong>Phone:</strong>
                {% if user.user.phone_number %}
                  {{ user.user.phone_number }}
                {% else %}
                  {{user.user.generics.phone}}
                {% endif %}</p>
              {% endif %}
                <p><strong>SEO Professional:</strong>
                  {% if  user.user.isPro %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </p>
                {% if user.user.generics.location %}
                  <p><strong>Location:</strong> {{ user.user.generics.location }}</p>
                {% endif %}
                <p>
                  {% if user.user.bio %}
                    {{ user.user.bio|safe }}
                  {% else %}
                    {% if user.user.generics.about %}
                      {{ user.user.generics.about|safe }}
                    {% endif %}
                  {% endif %}
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-4">
            <h3>{% trans "Digital Properties" %}</h3>
            <ul>
              {{ user_local.website_url }}
          {% if  user_local.website_url  or  user_local.facebook or user_local.twitter or user_local.linkedin or user_local.google_url %}
              {% if user_local.website_url %}
              <li>
                <i class="fa fa-globe fa-lg fa-fw"></i> <a href="{{ user_local.website_url }}" target="_blank">
                  Website</a>
              </li>
              {% endif %}
              {% if user_local.facebook %}
              <li>
                <i class="fa fa-facebook-square fa-lg fa-fw"></i> <a href="{{ user_local.facebook }}" target="_blank">
                  Facebook</a>
              </li>
              {% endif %}
              {% if user_local.twitter %}
              <li>
                <i class="fa fa-twitter-square fa-lg fa-fw"></i> <a href="{{ user_local.twitter }}" target="_blank">
                  Twitter</a>
              </li>
              {% endif %}
              {% if user_local.linkedin %}
              <li>
                <i class="fa fa-linkedin-square fa-lg fa-fw"></i> <a href="{{ user_local.linkedin }}" target="_blank">
                  Linkedin</a>
              </li>
              {% endif %}
              {% if user.user.generics.google_url  %}
              <li>
                  <i class="fa fa-google-plus-square fa-lg fa-fw"></i> <a href="{{ user.user.generics.google_url }}" target="_blank">
                  Google+</a>
              </li>
              {% endif %}
            </ul>
          {% else %}
            <li>
              <i class="fa fa-exclamation-circle fa-lg fa-fw"></i>
              {% trans "Not filled yet" %}
            </li>
          {% endif %}
          </div>

          <div class="col-md-4">
            <h3>{% trans "Areas of Expertise" %}</h3>
            <ul>
              {% for area in user_local.areas_of_expertise %}
                <li>
                  <i class="fa fa-check fa-fw fa-lg"></i>{{ area }} <a href="#"></a>
                </li>
              {% empty %}
                <li>
                  <i class="fa fa-exclamation-circle fa-lg fa-fw"></i>
                  {% trans "Not filled yet" %}
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-md-4">
            <h3>{% trans "Languages" %}</h3>
            <ul>
              {% for language in user_local.languages %}
                <li>
                  <i class="fa fa-globe fa-fw fa-lg"></i> {{ language }}<a href="#"></a>
                </li>
              {% empty %}
                <li>
                  <i class="fa fa-exclamation-circle fa-lg fa-fw"></i>
                  {% trans "Not filled yet" %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 m-b-30">
      <h3>Contact</h3>
      <form role="form" action="" method="post">
          {% csrf_token %}
          {% for field in form %}
          <fieldset class="form-group">
            {{ field.errors }}
            {{ field }}
          </fieldset>
          {% endfor %}
          <button class="btn btn-primary" type="submit">Contact this person</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

