{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container p-t-50">
  <div class="row">
    <div class="col-sm-6 col-md-6 m-b-30">
      <h2>{{ object.username }}</h2>
      <p><strong>Name of User:</strong> {{ object.user.name }}</p>
      <p><strong>Name:</strong> {{ object.user.first_name }}</p>
      <p><strong>Last Name:</strong> {{ object.user.last_name }}</p>
      <p><strong>Email:</strong> {{ object.user.email }}</p>
      <p><strong>Bio:</strong> {{ object.user.bio }}</p>
    </div>
    <div class="col-sm-6 col-md-6">
      <p><strong>{% trans "Account" %}:</strong> {{ user }}</p>
      <p><strong>{% trans "State" %}:</strong>
        {% if userplan.active %}
          {% trans "active" %}
        {% else %}
          {% trans "expired" %}
        {% endif %}
      </p>
      <p><strong>{% trans "Expire" %}:</strong> {{ userplan.expire }}</p>
      <p><strong>{% trans "Plan" %}:</strong> {{ userplan.plan }} <a href="{% url 'upgrade_plan' %}">{% trans "upgrade" %}</a></p>
    </div>
  </div>

{{ object.error }}

{% if object.user.username == request.user.username %}
<!-- Action buttons -->
<div class="row m-b-50">

  <div class="col-sm-8 col-sm-offset-2 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">Update profile</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

