{% load staticfiles active_url i18n compress %}
<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" ng-app="seoq">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}SEO Quotient{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SEO Quotient™ provides SEO tools for both website owners and online marketing professionals to diagnose your website and create an action plan.">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Your stuff: Third-party css libraries go here -->
    {% compress css %}
    <!-- This file store project specific CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock %}

  </head>
  <body class="{% block page_class %}{% endblock page_class %}">
    <nav class="navbar navbar-seoq {% block nav_class %}{% endblock nav_class %}">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" id="#navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">
          {% block logo %}
            <img src="{% static "images/logo-w.png" %}" alt="SEOQ Logo">
          {% endblock logo %}
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" id="#navbar-toggle">
            <h3>X</h3>
          </button>
          <ul class="nav navbar-nav navbar-right">
            <li {% active_url 'home' %} >
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li {% active_url 'about' %} >
              <a href="{% url 'about' %}">About</a>
            </li>
            <li {% active_url 'balystic_blog' %} >
              <a href="{% url 'balystic_blog' %}">Blog</a>
            </li>
            <li {% active_url 'directory' %}>
              <a href="{% url 'directory' %}">SEO Directory</a>
            </li>
            <li {% active_url 'owners' %}>
              <a href="{% url 'owners' %}">Website Owners</a>
            </li>
            <li {% active_url 'professionals' %}>
              <a href="{% url 'professionals' %}">SEO Professionals</a>
            </li>
            <li {% active_url 'students' %}>
              <a href="{% url 'students' %}">SEO Students</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="responsive">
              <a href="{% url 'users:detail' request.user.username %}">{% trans "See Profile" %}</a>
            </li>
            <li class="responsive">
              <a href="{% url 'balystic_logout' %}?next=/">{% trans "Sign out" %}</a>
            </li>
            <li class="dropdown p-0-6">
                <a href="javascript:;" id="user-dropdown" class="dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                   {% if request.user.profile_picture %}
                      <img src="{{ request.user.profile_picture.url }}" alt="Profile picture">
                   {% else %}
                      <img src="{% static 'images/person.png' %}" alt="Profile picture" class="img-respnsive img-circle">
                    {% endif %}
                  <span class="caret"><span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="user-dropdown">
                  <li><a href="{% url 'users:detail' request.user.username %}">{% trans "See Profile" %}</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'balystic_logout' %}?next=/">{% trans "Sign out" %}</a></li>
                </ul>
              </li>
            {% else %}
            <li>
              <a href="{% url 'account_login' %}" class="btn btn-lg btn-seoq">
                Join now
              </a>
            </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>
    <section>
      <div class="row">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}
      </div>
    </section>
   {% block content %}
    {% endblock content %}
    <footer class="bg-gray">
      <div class="container p-t-30">
        <div class="row">
          <div class="col-md-12">
            <nav>
              <ul>
                <li>
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                  <a href="{% url 'about' %}">About</a>
                </li>
                <li>
                  <a href="{% url 'balystic_blog' %}">Blog</a>
                </li>
                <li>
                  <a href="{% url 'owners' %}">Website Owners</a>
                </li>
                <li>
                  <a href="{% url 'professionals' %}">SEO Professionals</a>
                </li>
                <li>
                  <a href="{% url 'students' %}">SEO Students</a>
                </li>
                <li class="pull-right">
                  <a href="#Contact Us">Contact Us</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <hr class="m-0">
      <div class="container p-t-20">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            2016 SEO Quotient™. All rights reserved
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-10 ">
                <ul class="list-inline text-right">
                  <li>
                    <a href="/">
                      <img src="{% static "images/logo-b.png" %}" class="img-responsive footer-logo pull-right">
                    </a>
                  </li>
                  <li>
                    <a href="http://labs.inqbation.com" target="_blank">
                      <img src="{% static "images/inqbation-labs-logo.svg" %}" class="img-responsive footer-logo pull-right" alt="inQbation Labs" target="_blank">
                    </a>
                    <div class="content-social none">
                      <a href="https://facebook.com/seoquotient/" title="Facebook" target="_blank">
                      <i class="fa fa-facebook-square fa-2x"></i>
                      </a>
                      <a href="https://twitter.com/SEOQuotient" title="Twitter" target="_blank">
                        <i class="fa fa-twitter-square fa-2x"></i>
                      </a>
                      <a href="https://plus.google.com/+Seoquotient/" title="Google Plus" target="_blank">
                        <i class="fa fa-google-plus-square fa-2x"></i>
                      </a>
                      <a href="https://www.linkedin.com/company/seo-quotient" title="LinkedIn" target="_blank">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 col-md-2 ">
                <!-- Social icons -->
                <div class="row">
                  <div class="col-md-12 text-center p-0-6">
                    <a href="https://facebook.com/seoquotient/" title="Facebook" target="_blank">
                      <i class="fa fa-facebook-square fa-2x"></i>
                    </a>
                    <a href="https://twitter.com/SEOQuotient" title="Twitter" target="_blank">
                      <i class="fa fa-twitter-square fa-2x"></i>
                    </a>
                    <a href="https://plus.google.com/+Seoquotient/" title="Google Plus" target="_blank">
                      <i class="fa fa-google-plus-square fa-2x"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/seo-quotient" title="LinkedIn" target="_blank">
                      <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                  </div>
                </div>
                <!-- end Social icons -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

      <!-- Tether - a requirement for Bootstrap tooltips -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      {% compress js %}
      <script src="{% static 'js/components.js' %}"></script>
      <script src="{% static 'js/project.js' %}"></script>
      <!--Angular-->
      <script src="{% static 'scripts/app.js' %}"></script>
      <script src="{% static 'scripts/controllers/keyword-score-controller.js' %}"></script>
      {% endcompress %}

    {% endblock javascript %}
  </body>
</html>

