{% load static i18n %}
<div class="row">
      <div class="col-md-12 table-responsive text-center">
      <table class="table">
        <tr>
          <th>{{numeric_info.conversion.success }}/{{numeric_info.conversion.total }}</th>
          <th>Conversion</th>
          <th></th>
        </tr>
        <tr>
          <td>Description about conversion</td>
          <td>
            <p>{% if report.analysis.conversion.robots == "error" %}Make sure no robots are disallowed{% else %}Robots file activated{% endif %}</p>
            <p>{% if report.analysis.conversion.sitemap == 'error' %}Make sure you have a sitemap{% else %}Sitemap found{% endif %}</p>
            <p>{% if report.analysis.conversion.speed == 'to improve' %}Reduce loading times by compressing images and files, optimizing caching and optimizing your css/js files{% else %}The speed of your site is above average{% endif %}</p>
          </td>
          <td>
            {% if numeric_info.conversion.success == numeric_info.conversion.max %}
              <img src="{% static "images/fish-2.gif" %}" alt="fish" class="center-block img-responsive">
            {% elif numeric_info.conversion.to_improve == numeric_info.conversion.max %}
              <img src="{% static "images/fish-3.gif" %}" alt="fish" class="center-block img-responsive">
            {% else %}
              <img src="{% static "images/fish-1.gif" %}" alt="fish" class="center-block img-responsive">
            {% endif %}
          </td>
        </tr>
      </table>
      </div>
</div>