<div class="row">
      <div class="col-md-12 table-responsive text-center">
      <table class="table">
        <tr>
          <th>Content</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>Description about content</td>
          
          <td>
          <table class="table">
            <tr>
              <td>{% if report.analysis.content.kw_in_anchor_links == "to improve" %}Nice, you have some keywords in your anchor_links. info about how to improve kw in anchor links{% elif report.analysis.content.kw_in_anchor_links == "error" %}info about how to improve kw in anchor links{% else %}your anchor links has the keywords phrases{% endif %}</td>
            </tr>
            <tr>
              <td>{% if report.analysis.content.kw_in_headers == "to improve" %}Nice, you have some keywords in your headers. info about how to improve keywords in the headers{% elif report.analysis.content.kw_in_headers == "error" %}{% else %}your headers contains keywords phrases{% endif %}</td>
            </tr>
            <tr>
              <td>{% if report.analysis.content.kw_in_title == "to improve" %}Nice, you have some keywords in your title. info about how to improve keywords in title{% elif report.analysis.content.kw_in_title == "error" %}info about how to improve keywords in title{% else %}your title contains a lot of keyword phrases{% endif %}</td>
            </tr>
            <tr>
              <td>{% if report.analysis.content.kw_in_tlinks == "to improve" %}Nice, you have some keywords in your tlinks. info about how to improve keywords in tlinks{% elif report.analysis.content.kw_in_tlinks == "error" %}info about how to improve keywords in tlinks{% else %}your tlinks has a lot of keywords phrases{% endif %}</td>
            </tr>
              <td>{% if report.analysis.content.cms == 'passed' %}Congratulations, you have no issues related with cms{% elif report.analysis.content.cms == "to improve" %}Even your CMS is useful, you should consider moving your cms to WordPress{% else %}you should consider moving your cms to WordPress{% endif %}</td>
            </tr>
          </table>
          </td>
          <td><i class="fa fa-heartbeat" aria-hidden="true"></i></td>
        </tr>
      </table>
      </div>
</div>
