{% load static i18n %}
<div class="col-md-10 col-md-offset-1 text-center m-t-50">
	<p><span class="score-number">{{numeric_info.credibility.success }}</span><small class="text-muted">/{{numeric_info.credibility.total }}</small></p>
	<h3 class="m-b-30">Credibility</h3>
	<p class="text-muted">{% if report.analysis.credibility.backlinks_domain == "to improve" %}info about how to improve backlinks for the domain{% else %}your domain has a lot of backlinks{% endif %}</p>
	<p class="text-muted">{% if report.analysis.credibility.backlinks_url == 'to improve' %}info about how to improve backlinks for the url{% else %}your url has a lot of backlinks{% endif %}</p>
	<p class="text-muted">{% if report.analysis.credibility.edulinks_domain == 'to improve' %}info about how to improve .edu links for the domain{% else %}your domain has a lot of .edu backlinks{% endif %}</p>
	<p class="text-muted">{% if report.analysis.credibility.edulinks_url == 'to improve' %}info about how to improve .edu links for the url{% else %}your url has a lot of .edu backlinks{% endif %}</p>
	<p class="text-muted">{% if report.analysis.credibility.govlinks_domain == 'to improve' %}info about how to improve .gov links for the domain{% else %}your domain has a lot of .gov backlinks{% endif %}</p>
	<p class="text-muted">{% if report.analysis.credibility.govlinks_url == 'to improve' %}info about how to improve .gov links for the url{% else %}your url has a lot of .gov backlinks{% endif %}</p>
	<p class="text-muted">{% if report.analysis.credibility.https == 'error' %}Purchase an SSL license for your site{% else %}An SSL license was found for your site{% endif %}</p>
	<p class="text-muted">{% if report.analysis.credibility.trustflow == 'to improve' %}improve your trustflow{% else %}your trust flow is fine{% endif %}</p>

	{% if numeric_info.credibility.success == numeric_info.credibility.max %}
	  <img src="{% static "images/fish-2.png" %}" alt="fish" class="img-responsive center-block m-y-25" width="190" height="140">
	{% elif numeric_info.credibility.to_improve == numeric_info.credibility.max %}
	  <img src="{% static "images/fish-3.png" %}" alt="fish" class="img-responsive center-block m-y-25" width="190" height="140">
	{% else %}
	  <img src="{% static "images/fish-5.png" %}" alt="fish" class="img-responsive center-block m-y-25" width="190" height="140">
	{% endif %}

	<div class="row">
		<div class="col-sm-4 m-t-10">
			<a class="btn 
			{% if report.analysis.credibility.backlinks_url == 'to improve' %}btn-warning
			{% else %}btn-success
			{% endif %} btn-lg btn-block btn-outline" role="button" disabled>backlinks</a>
		</div>
		<div class="col-sm-4 m-t-10">
			<a class="btn 
			{% if report.analysis.credibility.edulinks_url == 'to improve' %}btn-warning
			{% else %}btn-success
			{% endif %} btn-lg btn-block btn-outline" role="button" disabled>.edu backlinks</a>
		</div>
		<div class="col-sm-4 m-t-10">
			<a class="btn 
			{% if report.analysis.credibility.govlinks_url == 'to improve' %}btn-warning
			{% else %}btn-success
			{% endif %} btn-lg btn-block btn-outline" role="button" disabled>.gov backlinks</a>
		</div>
		<div class="col-sm-4 m-t-10">
			<a class="btn 
			{% if report.analysis.credibility.https == 'error' %}btn-danger
			{% else %}btn-success
			{% endif %} btn-lg btn-block btn-outline" role="button" disabled>https</a>
		</div>
		<div class="col-sm-4 m-t-10">
			<a class="btn 
			{% if report.analysis.credibility.trustflow == 'to improve' %}btn-danger
			{% else %}btn-success
			{% endif %} btn-lg btn-block btn-outline" role="button" disabled>trustflow</a>
		</div>

	</div>
</div>