{% extends "base.html" %}

{% block content %}
<div class="container" ng-controller="keywordScoreController">
{% if no_crawl_allowed %}
	<h3>Your site does not allow to be crawled! Without this, no search engine will be able
	to find you!</h3>
{% elif server_error %}
	<h3>Your site returned a 500 code, server error. Please, check everything is working fine</h3>
{% elif page_not_found %}
	<h3>The page you are trying to analyze does not exist. It returned 404 status code, page not found</h3>
{% else %}
<h3><span id="netloc">{{ netloc }}</span></h3>
<div class="row">
	<div class="col-md-4">
		Optimized for search engines, score: <span id="site_score">{{ score }}</span>
	</div>
	<div class="col-md-4">
		your keyword score: <span id='kw_score'>0</span>
	</div>
	<div class="col-md-4">
		your total score: <span id='total_score'>{{ score }}</span>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<input type="text" ng-model="request_data.keyword">
	</div>
	<div class="col-md-6">
		<button ng-click="keyword_score()" ng-disabled="!request_data.keyword">kw analysis</button>
	</div>
</div>
</div>
<div class="row">
	<div class="col-md-12">
		{% if request.user.is_authenticated %}
		{% else %}
			do you want to know your SEOQ for an specific keyword?
			<a href="">sign up</a>
		{% endif %}
	</div>
{% endif %}
</div>
{% endblock content %}