{% extends "base.html" %}
{% load i18n staticfiles %}
{% block title %}About{% endblock title %}
{% block page_class %}score{% endblock page_class %}
{% block nav_class %}navbar-about{% endblock nav_class %}
{% block logo %}
<img src="{% static "images/logo-b.png" %}" alt="SEOQ Logo">
{% endblock logo %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
<section class="bg-primary p-50-0 score">
  <div class="container">
    <div class="row">
      <p class="text-center m-0">Score for:</p>
      <h3 class="text-center text-white m-0">www.website.com</h3>
      <div id="container">{{ total_score }}</div>
      <div class="m-t-10 text-center">
        <p class="m-b-10 m-t-10">Share score:</p>
        <a href="http://www.facebook.com/dialog/share?display=popup&amp;href={{ request.build_absolute_uri }}&amp;redirect_uri={{ request.build_absolute_uri }}&amp;app_id=1533371110295720" target="_blank" class="text-white f-s-18 f-w-700 btn btn-facebook btn-lg">
          <i class="fa fa-facebook-f m-r-5"></i>
          Facebook
        </a>
        <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20web%20accessibility%20and%20Section%20508%20compliance%20report%20on%20508Q.com%20for%20{{ netloc }}&amp;via=inQbation&amp;lang=en" target="_blank" class="text-white f-s-18 f-w-700 btn btn-twitter btn-lg">
          <i class="fa fa-twitter m-r-5"></i>
          Twitter
        </a>
      </div>
      <div class="col-sm-12 col-md-8 col-md-offset-2 p-t-30">
        <div class="col-sm-4 col-md-4">
          <img src="{% static "images/fish-2.gif" %}" alt="fish" class="center-block img-responsive">
          <p class="text-center m-0 m-t-10">{{ passed }} Passed</p>
        </div>
        <div class="col-sm-4 col-md-4">
          <img src="{% static "images/fish-3.gif" %}" alt="fish" class="center-block img-responsive">
          <p class="text-center m-0 m-t-10">{{ to_improve }} To improve</p>
          </div>
        <div class="col-sm-4 col-md-4">
          <img src="{% static "images/fish-1.gif" %}" alt="fish" class="center-block img-responsive">
          <p class="text-center m-0 m-t-10">{{ error }} Error</p>
          </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
{% include "seoqtool/report_elements/_crawlability.html" %}
{% include "seoqtool/report_elements/_credibility.html" %}
{% include "seoqtool/report_elements/_content.html" %}
{% include "seoqtool/report_elements/_code.html" %}
{% include "seoqtool/report_elements/_conversion.html" %}
</div>
{% endblock content %}
{% block extra_javascript %}
<script>
// progressbar.js@1.0.0 version is used
// Docs: http://progressbarjs.readthedocs.org/en/1.0.0/
  var bar = new ProgressBar.Circle(container, {

    color: '#fff',
    // This has to be the same size as the maximum width to
    // prevent clipping
    strokeWidth: 4,
    trailWidth: 1,
    easing: 'easeInOut',
    duration: 1400,
    text: {
      autoStyleContainer: false
    },
    from: { color: '#fff', width: 1 },
    to: { color: '#fff', width: 4 },
    // Set default step function for all animate calls
    step: function(state, circle) {
      circle.path.setAttribute('stroke', state.color);
      circle.path.setAttribute('stroke-width', state.width);

      var value = Math.round(circle.value() * 100);
      if (value === 0) {
        circle.setText('');
      } else {
        circle.setText(value);
      }

    }
  });
  bar.text.style.fontSize = '4rem';
  bar.text.style.fontWeight = 'bold';
  bar.animate(1.0);  // Number from 0.0 to 1.0
</script>
{% endblock extra_javascript %}
