{% extends "base.html" %}
{% load i18n staticfiles %}
{% block title %}About{% endblock title %}
{% block page_class %}about{% endblock page_class %}
{% block nav_class %}navbar-about{% endblock nav_class %}
{% block logo %}
<img src="{% static "images/logo-b.png" %}" alt="SEOQ Logo">
{% endblock logo %}

{% block meta %}
{% trans "" as title %}
{% trans "" as description %}
{% static "images/facebook-image-post.jpg" as image%}
{% include "include/metatags.html" with title=title description=description image=image %}
{% endblock meta %}

{% block content %}
<section id="banner-team">
  <img src="{% static "images/team-background.jpg" %}" alt="team background" class="center-block img-responsive">
  <h1 class="text-center">{% trans "What is SEO Quotient?" %}</h1>
</section>
<section id="what-is">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3 class="about-title">{% trans "SEO can mean different things depending on who you are. <br> At SEO Quotient, we have something for everyone." %}</h3>
			</div>
		</div>
		<div class="row col-eq-height">
			<div class="col-md-5 col-md-offset-1">
				<div class="row">
					<div class="col-md-12 resaltable">
            <a href="{% url 'owners' %}">
  						<h3>For Website Owners</h3>
  						<p>As a stakeholder, we know that you want to maximize your traffic and reach a larger audience. <br> <br> SEO Quotient is powered with a cutting edge algorithm that analyzes your website and tells you what exactly you can do better. And because we know you're busy, we provide recommendations for verified SEO professionals who can take your site to the next level.  </p>
            </a>
					</div>
					<div class="divider"></div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12 resaltable">
            <a href="{% url 'professionals' %}">
  						<h3>For SEO Professionals</h3>
  						<p>If you're looking for new leads and clients, you've come to the right place! <br> <br> 

              SEO Quotient allows you to showcase your talents and optimization history to demonstrate what needs to get done to real businesses that need your help. And by being an active member and contributing to our community, you can become a verified expert with a chance to get featured. </p>
            </a>
					</div>
					<div class="divider"></div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12 resaltable">
            <a href="{% url 'students' %}">
  						<h3>For Students of SEO</h3>
  						<p>Whether you're looking to start a career in SEO, to understand best practices, or to explore new strategies, our completely-free, no-strings-attached SEO Academy and Blog will catapult your skills to new levels. <br> <br> 

              With SEO Quotient, you can jumpstart your SEO journey no matter who or where you are.  </p>
            </a>
					</div>
					<div class="divider"></div>
				</div>
			</div>
			<div class="col-md-5 about-image">
				<div class="row full-hg">
					<div class="col-md-10 col-md-offset-1 full-hg">
						<div class="wrapper full-hg">
							<img src="{% static 'images/fish-4.gif' %}" alt="Fish image" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="team" class="p-t-30">
	<div class="container">
		<div class="row">
			 <h2 class="text-center m-b-30">{% trans "Meet the team" %}</h2>
       <div class="col-sm-12 col-md-8 col-md-offset-2 p-t-30">
         <div class="col-xs-6 col-sm-4 col-md-4 text-center">
           <img src="{% static "images/blake-1.jpg" %}" alt="people" class="center-block img-responsive img-circle">
           <p class="text-center">Blake Newman</p>
           <small class="text-center">CEO</small>
         </div>
         <div class="col-xs-6 col-sm-4 col-md-4 text-center">
           <img src="{% static "images/luis-1.png" %}" alt="people" class="center-block img-responsive img-circle">
           <p class="text-center">Luis Cuellar</p>
           <small class="text-center">CFO</small>
         </div>
         <div class="col-xs-6 col-sm-4 col-md-4 text-center">
           <img src="{% static "images/andres-1.png" %}" alt="people" class="center-block img-responsive img-circle">
           <p class="text-center">Andres Gonzalez</p>
           <small class="text-center">CTO</small>
         </div>
         <div class="col-xs-6 col-sm-4 col-md-4 text-center">
           <img src="{% static "images/people-4.jpg" %}" alt="people" class="center-block img-responsive img-circle">
           <p class="text-center">Lorem ipsum</p>
           <small class="text-center">ABC</small>
         </div>
         <div class="col-xs-6 col-sm-4 col-md-4 text-center">
           <img src="{% static "images/people-5.jpg" %}" alt="people" class="center-block img-responsive img-circle">
           <p class="text-center">Lorem ipsum</p>
           <small class="text-center">ABC</small>
         </div>
         <div class="col-xs-6 col-sm-4 col-md-4 text-center">
           <img src="{% static "images/people-6.jpg" %}" alt="people" class="center-block img-responsive img-circle">
           <p class="text-center">Lorem ipsum</p>
           <small class="text-center">ABC</small>
         </div>
       </div>
		</div>
	</div>
</section>
{% endblock content %}
