{% extends "base.html" %}
{% load i18n staticfiles%}

{% block content %}

  <section class="bg-primary fullscreen">
    <div class="container">
      <div class="row text-center">
        <h1 class="text-brand"><strong>{% trans "Want to rank higher on search engines?" %}</strong></h1>
        <span class="h4 text-brand">{% trans "Let us help by telling who you are." %}</span>
      </div>
      <div class="row">
        <div class="col-sm-4 hidden-xs text-center">
          <img src="{% static "images/fish.gif" %}" alt="" class="img-responsive"></img>
          <p class="text-brand m-t-20 h4">{% trans "I own a website" %}</p>
        </div>
        <div class="col-sm-4 hidden-xs text-center">
          <img src="{% static "images/fish-2.gif" %}" alt="" class="img-responsive"></img>
          <p class="text-brand m-t-20 h4">{% trans "I am a SEO Expert" %}</p>
        </div>
        <div class="col-sm-4 hidden-xs text-center">
          <img src="{% static "images/fish-3.gif" %}" alt="" class="img-responsive"></img>
          <p class="text-brand m-t-20 h4">{% trans "I study SEO" %}</p>
        </div>
        <div class="col-xs-12 visible-xs-block text-center m-t-30">
          <button class="btn btn-block btn-lg btn-seoq-lb">{% trans "I own a website" %}</button>
        </div>
        <div class="col-xs-12 visible-xs-block text-center m-t-30">
          <button class="btn btn-block btn-lg btn-seoq-lb">{% trans "I am a SEO Expert" %}</button>
        </div>
        <div class="col-xs-12 visible-xs-block text-center m-t-30">
          <button class="btn btn-block btn-lg btn-seoq-lb">{% trans "I study SEO" %}</button>
        </div>
        <span id="discover-more" class="scrollable">
          <a href="#benefits-text" title="{% trans "Discover more" %}" class="text-white hidden-xs">{% trans "Discover more" %}&nbsp;<i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>
  </section>
  <section class="benefits-seo p-t-80 p-b-40">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-sm-6 col-md-6 m-b-40 pull-right">
            <img src="{% static "images/images-benefits.png" %}" alt="images benefits" class="center-block img-responsive">
          </div>
          <div class="col-sm-6 col-md-6">
            <h2 class="text-left" id="benefits-text"><strong>{% trans "Benefits of SEO" %}</strong></h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore ad, nemo earum aspernatur laboriosam reprehenderit dolor amet vitae et debitis, veniam quisquam aut cupiditate nihil quaerat fuga iste, placeat explicabo!
            </p>
            <a href="#" class="btn btn-primary-ligth btn-lg">{% trans "Learn more about SEO" %}</a>
          </div>
          <span class="clear pull-right scrollable" id="most-recent">
            <a href="#experts" title="{% trans "Most recent" %}" class="">{% trans "Most recent" %}&nbsp;<i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
          </span>
        </div>
      </div>
    </div>
  </section>
  <img src="{% static "images/separator-block-top.png" %}" alt="separator block top" class="img-responsive center-block">
  <section class="seo-experts bg-gray p-t-80">
    <div class="container">
      <div class="row" id="experts">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-sm-6 col-md-6 pull-right">
            <h2 class="text-left" id="experts"><strong>{% trans "This week SEO Experts" %}</strong></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente at eius vitae doloremque dolorum, deleniti non expedita id odio eum, dignissimos, quis, adipisci consectetur neque perspiciatis explicabo quo quia voluptatum.</p>
            <a href="#" class="btn btn-primary-ligth btn-lg">{% trans "Create SEO profile" %}</a>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <img src="{% static "images/people-1.jpg" %}" alt="experts of seo" class="center-block img-responsive img-circle">
                <p></p>
              </div>
              <div class="col-xs-6 col-sm-4">
                <img src="{% static "images/people-2.jpg" %}" alt="experts of seo" class="center-block img-responsive img-circle">
                <p></p>
              </div>
              <div class="col-xs-6 col-sm-4">
                <img src="{% static "images/people-3.jpg" %}" alt="experts of seo" class="center-block img-responsive img-circle">
                <p></p>
              </div>
              <div class="col-xs-6 col-sm-4">
                <img src="{% static "images/people-4.jpg" %}" alt="experts of seo" class="center-block img-responsive img-circle">
                <p></p>
              </div>
              <div class="col-xs-6 col-sm-4">
                <img src="{% static "images/people-5.jpg" %}" alt="experts of seo" class="center-block img-responsive img-circle">
                <p></p>
              </div>
              <div class="col-xs-6 col-sm-4">
                <img src="{% static "images/people-6.jpg" %}" alt="experts of seo" class="center-block img-responsive img-circle">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-t-90 relative p-b-40" id="for-students">
        <div class="col-sm-12 col-md-8 col-md-offset-2 p-t-80">
          <h2 class="text-center relative m-b-50"><strong>{% trans "For Students of SEO" %}</strong></h2>
          <div class="col-sm-6 col-md-6">
            <div class="pull-right">
              <a href="#">
                <img src="{% static "images/learn.png" %}" alt="learn" class="img-responsive center-block" width="130px">
                <h3 class="text-center font-weight-bold-5 text-primary">{% trans "Learn more in" %}
                <br>{% trans "our SEO University" %}</h3>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="pull-left">
              <a href="#">
                <img src="{% static "images/discussions.png" %}" alt="discussions" class="img-responsive  center-block" width="130px">
                <h3 class="text-center font-weight-bold-5 text-primary">{% trans "Participate in our" %}
                <br>{% trans "SEO Community" %}
                </h3>
              </a>
            </div>
          </div>
          <img src="{% static "images/tablet.png" %}" alt="tablet" class="center-block img-responsive" id="tablet">
        </div>
        <span class="clear center-block scrollable" id="give-try">
          <a href="#how-website" title="{% trans "Give it try" %}" class=""><i class="fa fa-angle-double-down" aria-hidden="true"></i>&nbsp;{% trans "Give it try" %}</a>
        </span>
      </div>
    </div>
    <img src="{% static "images/separator-block-bottom.png" %}" alt="separator block top" class="img-responsive center-block relative">
  </section>
  <section class="scan-website p-t-50 m-t-50">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-sm-6 col-md-6 m-b-50">
            <h2 class="" id="how-website">{% trans "How does your" %}<br>{% trans "Website do for SEO?" %}</h2>
          </div>
          <div class="col-sm-6 col-md-6 m-b-50 p-t-20">
            <form action="">
              <div class="form-group">
                <label for="your-website" class="text-center">{% trans "Your Website" %}</label>
                <input type="text" class="form-control text-center" id="your-website" placeholder="{% trans "What is your website? e.g. seoq.com" %}">
              </div>
              <div class="text-center text-block">
                <h3>vs</h3>
              </div>
              <div class="form-group">
                <label for="competitor-website" class="text-center">{% trans "Your Competitor" %}</label>
                <input type="text" class="form-control text-center" id="competitor-website" placeholder="{% trans "What website ranks higher than yours?" %}">
                <input type="text" class="form-control text-center" id="keywords" placeholder="{% trans "What keyword phrase do you want to rank for?" %}">
              </div>
              <button type="submit" class="btn btn-warning-ligth btn-block">{% trans "Start" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script>
    $(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top - 50
        }, 1000);
        return false;
      }
    }
  });
});
  </script>
{% endblock content %}
